:root {
  /* Colors */
  --black: #000000;
  --dark: #333333;
  --gray: #e5e5e5;
  --light: #f2f2f2;
  --white: #ffffff;

  --warm-light: #756257;
  --neutral-light: #7db54f;
  --cold-light: #83b3d3;
  --cold-light02: hsl(204 48% 67% / 0.2);

  --warm-dark: #615048;
  --neutral-dark: #6c9e42;
  --cold-dark: #68a2ca;
  --cool-light012: hsl(204 48% 67% / 0.12);

  --error: #ff5757;
  --warning: #fd922e;
  --success: #7db550;

  /* Fonts */
  --font-family: "PT Sans", "Arial", sans-serif;
}

@font-face {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/PT-Sans/PT-Sans-400.woff2);
}

@font-face {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/PT-Sans/PT-Sans-700.woff2);
}

body {
  margin: 0;
  padding: 0;
  color: var(--dark);
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 21px;
}

.visually-hidden {
  /* Скрывает видимую часть блока */
}

.title {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
}

.sub-text {
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
}
